<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimatedNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RichNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RichNotifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestingNotifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61860EA91DB2004E005D2BBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B53DBAD1DAF68BD009A76CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B53DBC11DAF68BE009A76CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B53DBCC1DAF68BE009A76CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6B8FC31DB1EB2D00FC5763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBEE64C11DB1D484001DBB3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
